<nav class="navbar navbar-inverse">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="brand" style="padding-top: 13px;" href="#"><span class="navBrand" style="font-family: 'Open Sans', sans-serif;"><span class="glyphicon glyphicon-signal" style="padding-right: 10px; font-size: 24px; color: #377AB7;"></span><span>TEQNIHOME</span></span></a>
    </div>
    <ul class="nav navbar-nav navbar-right">
      <li style="display: flex; flex-direction: column; align-items: center; padding-right: 20px; cursor: pointer;">
        <div>
          <button class="btn btn-default btn-lg btn-link" style="font-size:20px; padding-top: 18px; padding-bottom: 0px; padding-right: 0px; color: #fff;">
            <span class="glyphicon glyphicon-comment"></span>
          </button>
          <span class="badge badge-notify">3</span>
        </div>
        <span style="margin: 0px 0px 3px 0px; font-size: 12px; font-family: 'Open Sans'">Notifications</span>
      </li>
      <li style="display: flex; flex-direction: column; align-items: center; padding-right: 20px; cursor: pointer;">
        <div>
          <button class="btn btn-default btn-lg btn-link" style="font-size:20px; padding-top: 18px; padding-bottom: 0px; padding-right: 0px; color: #fff;">
            <span class="glyphicon glyphicon-user"></span>
          </button>
          <span class="badge badge-notify">4</span>
        </div>
        <span style="margin: 0px 0px 3px 0px; font-size: 12px; font-family: 'Open Sans'">Friend requests</span>
      </li>
      <li style="display: flex; flex-direction: column; align-items: center; padding-right: 20px; cursor: pointer;">
        <div>
          <button class="btn btn-default btn-lg btn-link" style="font-size:20px; padding-top: 18px; padding-bottom: 0px; padding-right: 0px; color: #fff;">
            <span class="glyphicon glyphicon-star"></span>
          </button>
          <span class="badge badge-notify">1</span>
        </div>
        <span style="margin: 0px 0px 3px 0px; font-size: 12px; font-family: 'Open Sans'">Job Matching</span>
      </li>
      <li class="dropdown" style="padding-top: 8px; display: flex;flex-direction: column;align-items: center;margin-right: 20px;">
        <a class="dropdown-toggle" data-toggle="dropdown" href="#" style="display: flex; align-items: center; padding-top: 11px; padding-bottom: 5px; margin-right: 0px;"><span class="glyphicon glyphicon-user" style="padding-right: 5px; font-size: 21px;"></span>
        <span class="caret"></span></a>
        <span style="font-size: 13px; margin-top: 1px;margin-right: 10px;">Vatsal</span>
        <ul class="dropdown-menu">
          <li><a href="#"><span class="glyphicon glyphicon-off" style="padding-right: 7px;"></span>LogOut</a></li>
        </ul>
      </li>
    </ul>
  </div>
</nav>
