<mat-card class="myCardFst">
  <div style="display: flex; justify-content: flex-end; margin: 0px; margin-bottom: 25px;">
    <p class="gInfo" style="display: flex; flex: 4;">General Information</p>
    <span class="glyphicon glyphicon-pencil" style="display: flex; flex: 1; justify-content: flex-end; padding-right: 4px; color: #197CD3; font-weight: 700; font-size: 19px;"></span>
  </div>
  <div class="parentDiv">
    <div class="chld">
      Designation
    </div>
    <div class="majors">
      Software Intern
    </div>
  </div>
  <div class="parentDiv">
    <div class="chld">
      Description
    </div>
    <div class="majors">
      Seeking a software intern position
    </div>
  </div>
  <div class="parentDiv">
    <div class="chld">
      Experience
    </div>
    <div class="majors">
      3 years
    </div>
  </div>
  <div class="parentDiv">
    <div class="chld">
      Minumum Salary
    </div>
    <div class="majors">
      10k
    </div>
  </div>
  <div class="parentDiv">
    <div class="chld">
      Maximum Salary
    </div>
    <div class="majors">
      25k
    </div>
  </div>
  <div class="parentDiv">
    <div class="chld">
      Maximum Salary
    </div>
    <div class="majors">
      True
    </div>
  </div>
  <div class="parentDiv">
    <div class="chld">
      Company
    </div>
    <div class="majors">
      Arm (UK) Ltd
    </div>
  </div>
  <div class="parentDiv">
    <div class="chld">
      Degree
    </div>
    <div class="majors">
      B.Tech
    </div>
  </div>
  <div class="parentDiv">
    <div class="chld">
      Degree Level
    </div>
    <div class="majors">
      High School
    </div>
  </div>
  <div class="parentDiv">
    <div class="chld">
      Min GPA Required
    </div>
    <div class="majors">
      3.43
    </div>
  </div>
  <div class="parentDiv">
    <div class="chld">
      Job Location
    </div>
    <div class="majors">
      1210 Parkview, Arlington Business Park, Theale, Reading RG7 4TY, United Kingdom
    </div>
  </div>
  <div class="parentDiv">
    <div class="chld">
      Website
    </div>
    <div class="majors">
      <a href="#">http://www.arm.co.uk</a>
    </div>
  </div>
  <div class="parentDiv">
    <div class="chld">
      Facebook
    </div>
    <div class="majors">
      <a href="#">http://www.facebook.com/arm</a>
    </div>
  </div>
  <div class="parentDiv">
    <div class="chld">
      LinkedIn
    </div>
    <div class="majors">
      <a href="#">http://www.LinkedIn.com/arm</a>
    </div>
  </div>
  <div class="parentDiv">
    <div class="chld">
      Twitter
    </div>
    <div class="majors">
      #arm
    </div>
  </div>
  <div class="parentDiv">
    <div class="chld">
      Degree
    </div>
    <div class="majors">
      B.Tech
    </div>
  </div>
  <div class="parentDiv">
    <div class="chld">
      Status
    </div>
    <div class="majors">
      True
    </div>
  </div>
  <div class="parentDiv">
    <div class="chld">
      Date Posted
    </div>
    <div class="majors">
      Wed Feb 07 2018
    </div>
  </div>
  <div class="parentDiv">
    <div class="chld">
      Expiry Date
    </div>
    <div class="majors">
      Sat Mar 03 2018
    </div>
  </div>
</mat-card>
<div style="margin-bottom: 10%;">
  <div class="chartMain col-sm-12">
    <mat-card class="myCardChart col-sm-4">
      <div>
        <div style="display: flex; justify-content: flex-end; margin: 0px; margin-bottom: 25px;">
          <p class="gInfo" style="display: flex; flex: 4; font-size: 19px;">Operating Systems</p>
          <span class="glyphicon glyphicon-pencil" style="display: flex; flex: 1; justify-content: flex-end; padding-right: 4px; color: #197CD3; font-weight: 700; font-size: 18px;"></span>
        </div>
        <canvas id="myCanvas1" width="300px" height="300px" style="width: 300px; height: 300px;"></canvas>
      </div>
    </mat-card>
    <mat-card class="myCardChart col-sm-4">
      <div>
        <div style="display: flex; justify-content: flex-end; margin: 0px; margin-bottom: 25px;">
          <p class="gInfo" style="display: flex; flex: 4; font-size: 19px;">Programming Languages</p>
          <span class="glyphicon glyphicon-pencil" style="display: flex; flex: 1; justify-content: flex-end; padding-right: 4px; color: #197CD3; font-weight: 700; font-size: 18px;"></span>
        </div>
        <canvas id="myCanvas2" width="300px" height="300px" style="width: 300px; height: 300px;"></canvas>
      </div>
    </mat-card>
    <mat-card class="myCardChart col-sm-4">
      <div>
        <div style="display: flex; justify-content: flex-end; margin: 0px; margin-bottom: 25px;">
          <p class="gInfo" style="display: flex; flex: 4; font-size: 19px;">Languages Known</p>
          <span class="glyphicon glyphicon-pencil" style="display: flex; flex: 1; justify-content: flex-end; padding-right: 4px; color: #197CD3; font-weight: 700; font-size: 18px;"></span>
        </div>
        <canvas id="myCanvas3" width="300px" height="300px" style="width: 300px; height: 300px;"></canvas>
      </div>
    </mat-card>
  </div>
  <div class="chartMain col-sm-12">
    <mat-card class="myCardChart col-sm-4">
      <div>
        <div style="display: flex; justify-content: flex-end; margin: 0px; margin-bottom: 25px;">
          <p class="gInfo" style="display: flex; flex: 4; font-size: 19px;">IDE</p>
          <span class="glyphicon glyphicon-pencil" style="display: flex; flex: 1; justify-content: flex-end; padding-right: 4px; color: #197CD3; font-weight: 700; font-size: 18px;"></span>
        </div>
        <canvas id="myCanvas4" width="300px" height="300px" style="width: 300px; height: 300px;"></canvas>
      </div>
    </mat-card>
    <mat-card class="myCardChart col-sm-4">
      <div>
        <div style="display: flex; justify-content: flex-end; margin: 0px; margin-bottom: 25px;">
          <p class="gInfo" style="display: flex; flex: 4; font-size: 19px;">Hobbies</p>
          <span class="glyphicon glyphicon-pencil" style="display: flex; flex: 1; justify-content: flex-end; padding-right: 4px; color: #197CD3; font-weight: 700; font-size: 18px;"></span>
        </div>
        <canvas id="myCanvas5" width="300px" height="300px" style="width: 300px; height: 300px;"></canvas>
      </div>
    </mat-card>
    <mat-card class="myCardChart col-sm-4">
      <div>
        <div style="display: flex; justify-content: flex-end; margin: 0px; margin-bottom: 25px;">
          <p class="gInfo" style="display: flex; flex: 4; font-size: 19px;">Version Control</p>
          <span class="glyphicon glyphicon-pencil" style="display: flex; flex: 1; justify-content: flex-end; padding-right: 4px; color: #197CD3; font-weight: 700; font-size: 18px;"></span>
        </div>
        <canvas id="myCanvas6" width="300px" height="300px" style="width: 300px; height: 300px;"></canvas>
      </div>
    </mat-card>
  </div>
</div>
