<mat-card class="myCard" style="font-family: 'Roboto'; margin-top: 20px;">
  <div style="display: flex; justify-content: flex-end; margin: 0px; margin-bottom: 35px; align-items: center;">
    <p class="gInfo" style="display: flex; flex: 3; font-size: 20px;">Friend Requests</p>
    <div style="display: flex; align-items: center; flex: 1; justify-content: flex-end;">
      <div style="display: flex; flex-direction: column; justify-content: center; flex: 1; align-items: center; cursor: pointer;" (click)="dispRec()">
        <span class="glyphicon glyphicon-star" style="display: flex;flex: 1;justify-content: flex-start;padding-left: 0px;color: #197CD3;font-weight: 700;font-size: 24px;"></span>
        <span id="recId" #recId style="margin-top: 5px; font-weight: 600; color: #197CD3; font-size: 16px;">Received</span>
      </div>
      <div style="display: flex; flex-direction: column; justify-content: center; flex: 1; align-items: center; cursor: pointer;" (click)="dispFrd()">
        <span class="glyphicon glyphicon-user" style="display: flex;flex: 1;justify-content: flex-start;padding-left: 0px;color: #197CD3;font-weight: 700;font-size: 24px;"></span>
        <span id="frdId" #frdId style="margin-top: 5px; font-weight: 200; color: #197CD3; font-size: 14px;">Sent</span>
      </div>
    </div>
  </div>
  <div class="tab" id="received" #recd>
    <table class="table table-hover">
      <thead>
        <tr style="display: flex;">
          <th class="fromCat" style="display: flex; align-items: center; font-size: 17px;">From</th>
          <th class="mainAct">Category</th>
          <th class="mainAct">Choose Category</th>
          <th style="display: flex; flex: 1; justify-content: center; align-items: center; font-size: 17px;">Action</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let myFriend of myFriends | paginate: { itemsPerPage: 10, currentPage: p }" style="display: flex;">
          <td class="nameCat" style="display: flex; align-items: center;">
            <div style="display: flex;">
              <!-- <img [src]="userImg" class="userImg" height="60" width="60"> -->
              <div style="display: flex; flex-direction: column; justify-content: center;">
                <span class="gName" style="text-transform: capitalize; padding-left: 0px;">{{ myFriend.user.username }}</span>
                <span class="gMail" style="padding-left: 0px;">{{ myFriend.user.email }}</span>
              </div>
            </div>
          </td>
          <td style="display: flex; flex: 1; align-items: center;">
            <span class="smIcon">{{ myFriend.friendType }}</span>
          </td>
          <td style="display: flex; flex: 1; align-items: center;">
            <select class="tabBox" [(ngModel)]="myFriend.friendType" #friendType="ngModel" name="friendType" [id]="myFriend.id">
              <option value="My friends">My friends</option>
              <option value="My Work collegues">My Work collegues</option>
              <option value="My family">My family</option>
              <option value="School friends">School friends</option>
              <option value="University friends">University friends</option>
            </select>
          </td>
          <td style="display: flex; flex: 1; align-items: center;">
            <div style="display: flex; justify-content: center; align-items: center; width: 100%;">
              <div style="display: flex; flex: 2; flex-direction: column; justify-content: center; align-items: center;">
                <span class="glyphicon glyphicon-ok" [id]="myFriend.user.username" (click)="confirm($event, myFriend.id)" style="color: #0EAD69; margin-right: 8px; font-weight: 700;font-size: 18px;"></span>
              </div>
              <div style="display: flex; flex: 1; flex-direction: column; justify-content: center; align-items: flex-start;">
                <span class="glyphicon glyphicon-remove" [id]="myFriend.user.username" (click)="deleteFriend($event)" style="color: #D7263D; margin-left: 8px; font-weight: 700;font-size: 18px;"></span>
              </div>
            </div>
          </td>
        </tr>
      </tbody>
      <pagination-controls style="display: flex; margin-top: 10px; justify-content: flex-end;" (pageChange)="p =$event" previousLabel="Previous" nextLabel="Next" screenReaderPageLabel="page" screenReaderCurrentLabel="You're on page"></pagination-controls>
    </table>
  </div>
  <div class="tab" id="friends" #frid style="display: none; flex-direction: column;">
    <table class="table table-hover">
      <thead>
        <tr style="display: flex;">
          <th class="fromCat" style="display: flex; align-items: center; font-size: 17px;">Name</th>
          <th class="mainAct">Category</th>
          <th class="mainAct">Actions</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let myFriend of myFriends2 | paginate: { itemsPerPage: 10, currentPage: p }" style="display: flex;">
          <td class="nameCat" style="display: flex; align-items: center;">
            <div style="display: flex;">
              <!-- <img [src]="userImg" class="userImg" height="60" width="60"> -->
              <div style="display: flex; flex-direction: column; justify-content: center;">
                <span class="gName">{{ myFriend.user.username }}</span>
                <span class="gMail">{{ myFriend.user.email }}</span>
              </div>
            </div>
          </td>
          <td style="display: flex; flex: 1; align-items: center;">
            <span class="smIcon">{{ myFriend.friendType }}</span>
          </td>
          <td style="display: flex; flex: 1; align-items: center;">
            <span class="glyphicon glyphicon-check smImg" style="color: #534D41; margin-right: 8px; font-weight: 700;font-size: 20px;"></span><span style="padding-top: 3px;padding-left: 3px;color: #534D41;font-weight: 600;font-size: 14px;">Approval Pending</span>
          </td>
        </tr>
        <!-- <tr style="display: flex;">
          <td class="nameCat" style="display: flex; align-items: center;">
            <div style="display: flex;">
              <img [src]="userImg" class="userImg" height="60" width="60">
              <div style="display: flex; flex-direction: column; justify-content: center;">
                <span class="gName">Vatsal</span>
                <span class="gMail">vatsal@gmail.com</span>
              </div>
            </div>
          </td>
          <td style="display: flex; flex: 1; align-items: center;">
            <span class="smIcon">22/02/2018</span>
          </td>
          <td style="display: flex; flex: 1; align-items: center;">
            <span class="smIcon">School Friend</span>
          </td>
          <td style="display: flex; flex: 1; align-items: center;">
            <span class="glyphicon glyphicon-check smImg" style="color: #534D41; margin-right: 8px; font-weight: 700;font-size: 20px;"></span><span style="padding-top: 3px;padding-left: 3px;color: #534D41;font-weight: 600;font-size: 14px;">Approval Pending</span>
          </td>
        </tr> -->
      </tbody>
      <pagination-controls style="display: flex; margin-top: 10px; justify-content: flex-end;" (pageChange)="p =$event" previousLabel="Previous" nextLabel="Next" screenReaderPageLabel="page" screenReaderCurrentLabel="You're on page"></pagination-controls>
    </table>
  </div>
</mat-card>
