<mat-card class="myCard" style="font-family: 'Roboto'; margin-top: 20px; margin-bottom: 10%;">
	<div style="display: flex; justify-content: flex-end; margin: 0px; margin-bottom: 35px; align-items: center;">
    <p class="gInfo" style="display: flex; flex: 3; font-size: 20px;">Calendar</p>
    <div style="display: flex; align-items: center; flex: 1; justify-content: flex-end;">
      <div style="display: flex; flex-direction: column; justify-content: center; flex: 1; align-items: center; cursor: pointer;" (click)="dispRec()">
        <span class="glyphicon glyphicon-calendar" style="display: flex;flex: 1;justify-content: flex-start;padding-left: 0px;color: #197CD3;font-weight: 700;font-size: 20px;"></span>
        <span id="recId" #recId style="margin-top: 5px; font-weight: 600; color: #197CD3; font-size: 16px;">Month</span>
      </div>
      <div style="display: flex; flex-direction: column; justify-content: center; flex: 1; align-items: center; cursor: pointer;" (click)="dispFrd()">
        <span class="glyphicon glyphicon-calendar" style="display: flex;flex: 1;justify-content: flex-start;padding-left: 0px;color: #197CD3;font-weight: 700;font-size: 20px;"></span>
        <span id="frdId" #frdId style="margin-top: 5px; font-weight: 200; color: #197CD3; font-size: 14px;">Day</span>
      </div>
    </div>
  </div>
	<div id="month" #month style="display: flex; justify-content: center;">
	  <div id='calendar-container'>
	    <div style="margin-bottom: 20px;">
	      <form [formGroup]='dateForm' style="display: flex; justify-content: center; align-items: center; margin-top: 20px;">
	        <input style="padding: 5px;font-size: 14px;border: 1px solid #ccc;" type="text" name='dateFrom' formControlName='dateFrom' placeholder='From Date'>
	        <div style="margin: 0px 7px;"></div>
	        <input style="padding: 5px;font-size: 14px;border: 1px solid #ccc;" type="text" placeholder='To Date' name='dateTo' formControlName='dateTo'>
	        <div style="margin: 0px 7px;"></div>
	        <button class="btn btn-primary" (click)='reserve()'>Reserve</button>
	      </form>
	    </div>
	    <div *ngIf='isReserved' class='reserved' style="display: flex; margin-bottom: 20px; justify-content: center;">
	            {{isReserved}}
	        </div>
	    <div style="display: flex; justify-content: center; align-items: center;">
	      <span class="glyphicon glyphicon-triangle-left" style="margin-right: 20px; font-weight: 600;" (click)='previousMonth() '></span>
	      <div>{{date.format('MMMM ')}} {{date.format('YYYY ')}}</div>
	      <span class="glyphicon glyphicon-triangle-right" style="margin-left: 20px; font-weight: 600;" (click)='nextMonth() '></span>
	    </div>
	    <div style="display: flex; justify-content: flex-start; align-items: center; margin-top: 20px;">
	      <div class='calendar-head'>Sun</div>
	      <div class='calendar-head'>Mon</div>
	      <div class='calendar-head'>Tue</div>
	      <div class='calendar-head'>Wed</div>
	      <div class='calendar-head'>Thu</div>
	      <div class='calendar-head'>Fri</div>
	      <div class='calendar-head'>Sat</div>
	    </div>
	    <div style="display: flex; flex-wrap: wrap; justify-content: flex-start;">
	      <div *ngFor="let day of daysArr" class="dateDiv">
	        <div class='calendar-days' (click)='selectedDate(day)' [ngClass]="{'inactive ': !day, 'selected': isSelected(day), 'today': todayCheck(day)}">{{day?.date()}}</div>
	      </div>
	    </div>
	  </div>
	</div>
	<div id="days" #days style="display: none; justify-content: center;">
	  <div id='calendar-container'>
	    <div style="margin-bottom: 20px;">
	      <form [formGroup]='dateForm' style="display: flex; justify-content: center; align-items: center; margin-top: 20px;">
	        <input style="padding: 5px;font-size: 14px;border: 1px solid #ccc;" type="text" name='dateFrom' formControlName='dateFrom' placeholder='From Date'>
	        <div style="margin: 0px 7px;"></div>
	        <input style="padding: 5px;font-size: 14px;border: 1px solid #ccc;" type="text" placeholder='To Date' name='dateTo' formControlName='dateTo'>
	        <div style="margin: 0px 7px;"></div>
	        <button class="btn btn-primary" (click)='reserveDay()'>Reserve</button>
	      </form>
	    </div>
	    <div *ngIf='isReservedDay' class='reserved' style="display: flex; margin-bottom: 20px; justify-content: center;">
	            {{isReservedDay}}
	        </div>
	    <div style="display: flex; justify-content: center; align-items: center;">
	      <span class="glyphicon glyphicon-triangle-left" style="margin-right: 20px; font-weight: 600;" (click)='previousDay() '></span>
	      <div>{{date.format('MMMM Do YYYY')}}</div>
	      <span class="glyphicon glyphicon-triangle-right" style="margin-left: 20px; font-weight: 600;" (click)='nextDay() '></span>
	    </div>
	    <div style="display: flex; justify-content: flex-start; align-items: center; margin-top: 20px;">
	      <div class='calendar-head' style="width: 97.5%;">{{date.format('LLLL')}}</div>
	      <div class='calendar-head' style="display: none; width: 97.5%;" #currDate>{{date.format('LL')}}</div>
	    </div>
	    <div style="display: flex; flex-wrap: wrap; justify-content: flex-start;">
	      <div *ngFor="let day of daysArr" class="dateDiv">
	        <div class='calendar-days' (click)='selectedDay(day)' [ngClass]="{'inactive ': !day, 'selected': isSelectedDay(day), 'todayHour': todayCheckDay(day)}">{{day?.format('LT')}}</div>
	      </div>
	    </div>
	  </div>
	</div>
</mat-card>
