<mat-card class="myCard" style="font-family: 'Roboto'; margin-top: 20px;">
  <div style="display: flex; justify-content: flex-end; margin: 0px; margin-bottom: 35px; align-items: center;">
    <p class="gInfo" style="display: flex; flex: 3; font-size: 20px;">Connections</p>
    <div style="display: flex; align-items: center; flex: 1; justify-content: flex-end;">
      <input type="text" placeholder="Search.." name="search" class="mySrh" style="display:flex; justify-content: center; ">
      <span class="glyphicon glyphicon-search" style="display: flex;flex: 1;justify-content: flex-start;padding-left: 10px;color: #197CD3;font-weight: 700;font-size: 22px;"></span>
    </div>
  </div>
  <div class="tab">
    <table class="table table-hover">
      <thead>
        <tr style="display: flex;">
          <th class="thHead fl2" style="display: flex;">Name</th>
          <th class="thHead" style="display: flex; flex: 1;">Category</th>
          <th class="thHead" style="display: flex; flex: 1;">Action</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let myFriend of myFriends | paginate: { itemsPerPage: 10, currentPage: p }" style="display: flex;">
          <td class="fl2" style="display: flex; align-items: center;">
            <div style="display: flex;">
              <!-- <img [src]="userImg" class="userImg" height="60" width="60"> -->
              <div style="display: flex; flex-direction: column; justify-content: center;">
                <span class="padLft" style="font-size: 15px;font-weight: 600;text-transform: capitalize;padding-left: 0px;">{{ myFriend.user.username }}</span>
                <!-- <span class="padLft email" style="font-size: 14px; padding-top: 0px;">{{ myFriend.user.email }}</span> -->
              </div>
            </div>
          </td>
          <td style="display: flex; flex: 1; align-items: center;">
            <span style="font-size: 14px; text-transform: capitalize;">{{ myFriend.friendType }}</span>
          </td>
          <td style="display: flex; flex: 1; align-items: center;">
            <span class="glyphicon glyphicon-remove" [id]="myFriend.user.username" (click)="deleteFriend($event)" style="color: #f24141; margin-left: 8px; font-weight: 700;font-size: 20px;"></span>
          </td>
        </tr>
      </tbody>
      <pagination-controls style="display: flex; margin-top: 10px; justify-content: flex-end;" (pageChange)="p =$event" previousLabel="Previous" nextLabel="Next" screenReaderPageLabel="page" screenReaderCurrentLabel="You're on page"></pagination-controls>
    </table>
  </div>
</mat-card>
