body {
  overflow-x: hidden !important;
}

.back {
  background: #1C2B36;
}

.none {}

.outlet {
  /*z-index: -1;*/
}

.dash {
	width: 15%;
}

.outlet {
	width: 85%;
}

@media only screen and (max-width: 900px) {
  .dash {
    width: 6%;
  }
  .outlet {
    width: 94%;
  }
}

@media only screen and (max-width: 770px) {
  .dash {
    display: none;
  }
  .outlet {
    width: 100%;
    min-height: 465px;
  }
}
