<div class="main-container">
  <div class="main-tab" id="main-tab">
    <div class="front animate" id="front">
      <mat-card class="myCard" id="myCd" style="cursor: pointer;">
        <div style="display: flex; justify-content: flex-end; margin: 0px;">
          <span class="glyphicon glyphicon-refresh" (click)="flipEvent(flip)" style="padding-right: 4px; color: #197CD3; font-weight: 700; font-size: 23px;"></span>
        </div>
        <div class="fx">
          <div class="fx" style="flex: 3; flex-direction: column;">
            <img [src]="userImg" class="userImg" height="150" width="150">
            <p class="headUser" style="font-size: 17px; margin-bottom: 5px;">{{ cardTitle }} {{ cardName }}</p>
          </div>
          <div class="" style="flex: 5; flex-direction: column; align-self: flex-start; margin-left: 25px;">
            <p class="headUser">Home Address</p>
            <div class="leftIcon">
              <span class="glyphicon glyphicon-home" style="padding-right: 7px; color: #197CD3; font-weight: 700; font-size: 22px;"></span>
              <p style="margin-left: 6%;" *ngIf="cardhomeAdr">{{ cardhomeAdr }}</p>
              <button class="btn btn-default btn-sm" style="margin-left: 6%;" *ngIf="!cardhomeAdr" (click)="request('homeAddressPrivacy')">Request</button>
            </div>
            <div class="leftIcon">
              <span class="glyphicon glyphicon-phone" style="padding-right: 7px; color: #197CD3; font-weight: 700; font-size: 24px;"></span>
              <p style="margin-left: 6%;" *ngIf="cardprivPhone">{{ cardprivPhone }}</p>
              <button class="btn btn-default btn-sm" style="margin-left: 6%;" *ngIf="!cardprivPhone" (click)="request('privatePhonePrivacy')">Request</button>
            </div>
            <div class="leftIcon">
              <span class="glyphicon glyphicon-envelope" style="padding-right: 7px; padding-left: 1px; color: #197CD3; font-weight: 700; font-size: 21px;"></span>
              <p style="margin-left: 6%;" *ngIf="cardprivEmail">{{ cardprivEmail }}</p>
              <button class="btn btn-default btn-sm" style="margin-left: 6%;" *ngIf="!cardprivEmail" (click)="request('privateEmailPrivacy')">Request</button>
            </div>
          </div>
        </div>
        <hr style="width: 86%; margin-top: 25px; margin-bottom: 20px; margin-left: 8%; border: 1px solid #eee;">
        <div class="fx">
          <div class="fx" style="flex: 3; flex-direction: column;">
            <p class="headUserChild">{{ cardQualif }}, {{ cardMembers }}</p>
            <p class="headUserChild" style="font-size: 15px;margin-top: 30px; margin-bottom: 3px;">{{ cardjobTitle }}</p>
            <p class="headUserChild" style="font-size: 15px;margin-top: 5px;">{{ cardcompany }}</p>
          </div>
          <div class="" style="flex: 5; flex-direction: column; align-self: flex-start; margin-left: 25px;">
            <p class="headUser">Office Address</p>
            <div class="leftIcon">
              <span class="glyphicon glyphicon-home" style="padding-right: 7px; color: #197CD3; font-weight: 700; font-size: 22px;"></span>
              <p style="margin-left: 6%;" *ngIf="cardofficeAdr">{{ cardofficeAdr }}</p>
              <button class="btn btn-default btn-sm" style="margin-left: 6%;" *ngIf="!cardofficeAdr" (click)="request('officeAddressPrivacy')">Request</button>
            </div>
            <div class="leftIcon">
              <span class="glyphicon glyphicon-earphone" style="padding-right: 7px; color: #197CD3; font-weight: 700; font-size: 24px;"></span>
              <p style="margin-left: 6%;" *ngIf="cardofficePhone">{{ cardofficePhone }}</p>
              <button class="btn btn-default btn-sm" style="margin-left: 6%;" *ngIf="!cardofficePhone" (click)="request('officePhonePrivacy')">Request</button>
            </div>
            <div class="leftIcon">
              <span class="glyphicon glyphicon-envelope" style="padding-right: 7px; padding-left: 1px; color: #197CD3; font-weight: 700; font-size: 21px;"></span>
              <p style="margin-left: 6%;" *ngIf="cardofficeEmail">{{ cardofficeEmail }}</p>
              <button class="btn btn-default btn-sm" style="margin-left: 6%;" *ngIf="!cardofficeEmail" (click)="request('officeEmailPrivacy')">Request</button>
            </div>
            <div class="leftIcon">
              <span class="glyphicon glyphicon-globe" style="padding-right: 7px; padding-left: 1px; color: #197CD3; font-weight: 700; font-size: 21px;"></span>
              <p style="margin-left: 6%; color: #197CD3;"><a [href]="cardwebsite" target="_blank">{{ cardwebsite }}</a></p>
            </div>
          </div>
        </div>
      </mat-card>
    </div>
    <div class="fliped animate" id="fliped" style="display: none;">
      <mat-card class="myCard" id="myCd2" style="cursor: pointer;">
          <div style="display: flex; justify-content: flex-end; margin: 0px;">
            <span class="glyphicon glyphicon-refresh" (click)="flipEvent(flip)" style="padding-right: 4px; color: #197CD3; font-weight: 700; font-size: 23px;"></span>
          </div>
          <div style="margin-top: 10px; display: flex;">
            <div *ngFor="let allInfo of allInfos; let i=index" style="width: 20%;">
              <div class="rmv" *ngIf="i<=5">
                <a (click)="socialGo(allInfo.value)" target="_blank"><img [src]="fbIcon" style="margin-top: 10px;" width="100" height="85"></a>
                <div *ngIf="allInfo.value" style="display: flex; justify-content: center; margin-top: 5px;">
                  <span style="color: #197CD3; font-weight: 700; font-size: 17px;">{{ allInfo.address_info_id.name }}</span>
                </div>
                <div *ngIf="!allInfo.value" style="display: flex; justify-content: center; margin-top: 5px;">
                  <button class="btn btn-default btn-sm" style="margin-left: 6%;" (click)="requestSocial('allInfo.address_info_id.name')">Request</button>
                </div>
              </div>
              <div class="rmv" *ngIf="i>5">
                <a (click)="socialGo(allInfo.value)" target="_blank"><img [src]="fbIcon" style="margin-top: 10px;" width="100" height="85"></a>
                <div *ngIf="allInfo.value" style="display: flex; justify-content: center; margin-top: 5px;">
                  <span style="color: #197CD3; font-weight: 700; font-size: 17px;">{{ allInfo.address_info_id.name }}</span>
                </div>
                <div *ngIf="!allInfo.value" style="display: flex; justify-content: center; margin-top: 5px;">
                  <button class="btn btn-default btn-sm" style="margin-left: 6%;" (click)="requestSocial('allInfo.address_info_id.name')">Request</button>
                </div>
              </div>
            </div>
          </div>
          <div class="" style="display: flex; flex-direction: row; margin-top: 30px;">
          </div>
      </mat-card>
    </div>
  </div>
  <div class="btmBtn" id="bt1" style="margin-bottom: 6%; padding-top: 5px;">
    <div style="display: flex; flex: 1; justify-content: center; padding: 0px 4px;">
      <a mat-raised-button style="background-color: #757575; border-radius: 1px; color: #fff; font-size: 16px;" routerLink=""><span class="glyphicon glyphicon-qrcode" style="padding-right: 8px;"></span>QR Code</a>
    </div>
  </div>
</div>
