<mat-card class="myCard" style="font-family: 'Roboto'; margin-top: 20px;">
  <div style="display: flex; justify-content: flex-end; margin: 0px; margin-bottom: 35px; align-items: center;">
    <p class="gInfo" style="display: flex; flex: 3; font-size: 20px;">Connections</p>
    <div style="display: flex; flex-direction: column; align-items: center; flex: 1; justify-content: flex-end;">
      <div style="display: flex; align-items: center; flex: 1; justify-content: flex-end;">
        <form id="filter">
          <input type="text" placeholder="Search.." name="search" id="searchterm" #searchterm class="mySrh" style="display:flex; justify-content: center; ">
        </form>
        <span class="glyphicon glyphicon-search" (click)="search()" style="display: flex;flex: 1; cursor: pointer; justify-content: flex-start;padding-left: 10px;color: #197CD3;font-weight: 700;font-size: 22px;"></span>
      </div>
      <p *ngIf="userMsg" style="color: red;font-size: 15px;text-align: center;margin: 4px 0px 0px 0px;">No user found</p>
    </div>
  </div>
  <div class="tab">
    <table class="table table-hover">
      <thead>
        <tr style="display: flex;">
          <th class="fl3" style="display: flex; align-items: center; font-size: 18px;">User</th>
          <th style="display: flex; flex: 1; align-items: center; font-size: 18px;">Actions</th>
        </tr>
      </thead>
      <tbody *ngIf="userExist">
      <tr *ngFor="let myFriend of myFriends | paginate: { itemsPerPage: 10, currentPage: p }; let i=index" style="display: flex;">
          <td class="fl3" style="display: flex; align-items: center;">
            <div style="display: flex;" (click)="card(myFriend.card.id)">
              <img [src]="imgArr[i]" class="userImg" height="60" width="60">
                <div style="display: flex; flex-direction: column; justify-content: center;">
                  <span class="pdLft" style="font-size: 16px; font-weight: 600;">{{ myFriend.card.name }}</span>
                  <span class="pdLft" style="display: none; font-size: 16px; font-weight: 600;" id="uterm" #uterm>{{ myFriend.card.userId }}</span>
                  <span class="pdLft" style="font-size: 14px; padding-top: 0px;">{{ myFriend.card.privateEmail }}</span>
                </div>
            </div>
          </td>
          <td style="display: flex; flex: 1; align-items: center;" data-toggle="modal" data-target="#homeAdr">
            <span #sendIcon class="glyphicon glyphicon-share sendReq" style="margin-right: 8px; font-weight: 700;font-size: 20px;"></span><span class="sendReq" #sendColor style="padding-top: 3px;padding-left: 3px;font-weight: 600;font-size: 14px;">Add Friend</span>
          </td>
        </tr>
        <div class="modal fade" id="homeAdr" role="dialog">
          <div class="modal-dialog modal-md">
            <div class="modal-content">
              <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">Choose Frienship</h4>
              </div>
              <div class="modal-body" style="display: flex; flex-direction: column;">
                <div style="display: flex; flex-direction: row; align-items: center; padding: 20px 20px 30px 25px;">
                  <div style="display: flex; flex: 1;">Friendship</div>
                  <select id="fType" #fType name="friendType" style="display: flex; flex: 3; height: 35px;background: #fcfcfc;color: #474747;padding: 5px 3px;border: 1px solid #ccc;box-shadow: 0 0px 0px 0 rgba(0, 0, 0, 0.14), 0 1px 0px 0 rgba(0, 0, 0, 0.12), 0 2px 1px -2px rgba(0, 0, 0, 0.2);">
                    <option value="My friends">My friends</option>
                    <option value="My Work collegues">My Work collegues</option>
                    <option value="My family">My family</option>
                    <option value="School friends">School friends</option>
                    <option value="University friends">University friends</option>
                    <option value="Everyone">Everyone</option>
                    <option value="Individual User">Individual User</option>
                  </select>
                </div>
              </div>
              <div class="modal-footer">
                <div type="button" (click)="sendReq()" class="btn btn-default" data-dismiss="modal">Save</div>
              </div>
            </div>
          </div>
        </div>
        <!-- <tr *ngFor="let myArr of myArray | paginate: { itemsPerPage: 2, currentPage: p }" style="display: flex;">
          <td class="fl3" style="display: flex; align-items: center;">
            <div style="display: flex;">
              <img [src]="userImg" class="userImg" height="60" width="60">
              <div style="display: flex; flex-direction: column; justify-content: center;">
                <span class="pdLft" style="font-size: 16px; font-weight: 600;">{{myArr.name}}</span>
                <span class="pdLft" style="font-size: 14px; padding-top: 0px;">{{myArr.mail}}</span>
              </div>
            </div>
          </td>
          <td *ngIf="myArr.req=='Send Request'" style="display: flex; flex: 1; align-items: center;">
            <span #sendIcon class="glyphicon glyphicon-share sendReq" style="margin-right: 8px; font-weight: 700;font-size: 20px;"></span><span class="sendReq" #sendColor style="padding-top: 3px;padding-left: 3px;font-weight: 600;font-size: 14px;">{{myArr.req}}</span>
          </td>
          <td  *ngIf="myArr.req=='Request Approved'" style="display: flex; flex: 1; align-items: center;">
            <span class="glyphicon glyphicon-ok" style="color: #0EAD69; margin-right: 8px; font-weight: 700;font-size: 20px;"></span><span style="padding-top: 3px;padding-left: 3px;color: #0EAD69;font-weight: 600;font-size: 14px;">{{myArr.req}}</span>
          </td>
           <td *ngIf="myArr.req=='Approval Pending'" style="display: flex; flex: 1; align-items: center;">
            <span class="glyphicon glyphicon-check" style="color: #534D41; margin-right: 8px; font-weight: 700;font-size: 20px;"></span><span style="padding-top: 3px;padding-left: 3px;color: #534D41;font-weight: 600;font-size: 14px;">{{myArr.req}}</span>
          </td>
        </tr> -->
      </tbody>
      <pagination-controls style="display: flex; margin-top: 10px; justify-content: flex-end;" (pageChange)="p =$event" previousLabel="Previous" nextLabel="Next" screenReaderPageLabel="page" screenReaderCurrentLabel="You're on page"></pagination-controls>
    </table>
    <!-- <pagination-controls style="display: flex; justify-content: flex-end;" (pageChange)="p =$event" previousLabel="Previous" nextLabel="Next" screenReaderPageLabel="page" screenReaderCurrentLabel="You're on page"></pagination-controls> -->
    <!-- <div class="panel-footer" style="padding: 20px 15px 15px 15px;">
      <div class="row">
        <div class="col col-xs-4" style="line-height: 34px; height: 34px;">Page 1 of 1
        </div>
        <div class="col col-xs-8">
          <ul class="pagination hidden-xs pull-right" style="margin: 0;">
            <li class="active"><a style="padding: 6px 15px;">1</a></li>
            <li><a style="padding: 6px 15px;">2</a></li>
            <li><a style="padding: 6px 15px;">3</a></li>
            <li><a style="padding: 6px 15px;">4</a></li>
            <li><a style="padding: 6px 15px;">5</a></li>
          </ul>
          <ul class="pagination visible-xs pull-right">
            <li><a style="padding: 6px 15px;">«</a></li>
            <li><a style="padding: 6px 15px;">»</a></li>
          </ul>
        </div>
      </div>
    </div> -->
<!-- <label class="switch">
              <input type="checkbox" checked>
              <span class="slider round"></span>
            </label> -->
<!-- <select style="display: flex; height: 35px;background: #fcfcfc;color: #474747;padding: 5px 3px;border: 1px solid #ccc;box-shadow: 0 0px 0px 0 rgba(0, 0, 0, 0.14), 0 1px 0px 0 rgba(0, 0, 0, 0.12), 0 2px 1px -2px rgba(0, 0, 0, 0.2);">
              <option value="Friend">Friend</option>
              <option value="Work collegue">Work collegue</option>
              <option value="Family">Family</option>
              <option value="School Friend">School Friend</option>
              <option value="University Friend">University Friend</option>
            </select> -->
  </div>
</mat-card>
