<mat-card class="myCard" style="font-family: 'Roboto'; margin-top: 20px;">
  <div style="display: flex; justify-content: flex-end; margin: 0px; margin-bottom: 35px; align-items: center;">
    <p class="gInfo" style="display: flex; flex: 3; font-size: 20px;">Search Job</p>
    <div style="display: flex; align-items: center; flex: 1; justify-content: flex-end;">
      <input type="text" placeholder="Search.." name="search" class="mySrh" style="display:flex; justify-content: center; ">
      <span class="glyphicon glyphicon-search" (click)="shape()" style="display: flex;flex: 1;justify-content: flex-start;padding-left: 10px;color: #197CD3;font-weight: 700;font-size: 23px;"></span>
    </div>
  </div>
  <div class="tab" id="received">
    <table class="table table-hover">
      <thead>
        <tr style="display: flex;">
          <th class="thHead" style="display: flex; flex: 2;">Job Description</th>
          <th class="thHead" style="display: flex; flex: 1;">Experience</th>
          <th class="thHead" style="display: flex; flex: 1;">Designation</th>
          <th class="thHead" style="display: flex; flex: 1;">Location</th>
          <th class="thHead" style="display: flex; flex: 1;">Posted On</th>
          <th class="thHead" style="display: flex; flex: 1; justify-content: flex-start;">Action</th>
        </tr>
      </thead>
      <tbody>
        <tr style="display: flex;">
          <td style="display: flex; flex: 2; align-items: center;">
            <span style="font-size: 14px;">Seeking a Software tester</span>
          </td>
          <td style="display: flex; flex: 1; align-items: center;">
            <span style="font-size: 14px;">3 years</span>
          </td>
          <td style="display: flex; flex: 1; align-items: center;">
            <span style="font-size: 14px;">Software Tester</span>
          </td>
          <td style="display: flex; flex: 1; align-items: center;">
            <span style="font-size: 14px;">London, UK</span>
          </td>
          <td style="display: flex; flex: 1; align-items: center;">
            <span class="glyphicon glyphicon-time" style="color: #0EAD69; font-weight: 700;font-size: 18px;"></span><span style="font-size: 14px; padding-left: 6px;">24/02/18</span>
          </td>
          <td style="display: flex; flex: 1; align-items: center;">
            <div style="display: flex; justify-content: center; align-items: center; width: 100%;">
              <div style="display: flex; flex: 1; padding-right: 10px; flex-direction: column; justify-content: center; align-items: flex-start;">
                <span class="glyphicon glyphicon-ok" style="color: #0EAD69; margin-right: 8px; font-weight: 700;font-size: 18px;"></span>
              </div>
              <div style="display: flex; flex: 2; flex-direction: column; justify-content: center; align-items: flex-start;">
                <span class="glyphicon glyphicon-remove" style="color: #D7263D; margin-right: 8px; font-weight: 700;font-size: 18px;"></span>
              </div>
            </div>
          </td>
        </tr>
        <tr style="display: flex;">
          <td style="display: flex; flex: 2; align-items: center;">
            <span style="font-size: 14px;">Seeking a Software tester</span>
          </td>
          <td style="display: flex; flex: 1; align-items: center;">
            <span style="font-size: 14px;">3 years</span>
          </td>
          <td style="display: flex; flex: 1; align-items: center;">
            <span style="font-size: 14px;">Software Tester</span>
          </td>
          <td style="display: flex; flex: 1; align-items: center;">
            <span style="font-size: 14px;">London, UK</span>
          </td>
          <td style="display: flex; flex: 1; align-items: center;">
            <span class="glyphicon glyphicon-time" style="color: #0EAD69; font-weight: 700;font-size: 18px;"></span><span style="font-size: 14px; padding-left: 6px;">24/02/18</span>
          </td>
          <td style="display: flex; flex: 1; align-items: center;">
            <div style="display: flex; justify-content: center; align-items: center; width: 100%;">
              <div style="display: flex; flex: 1; padding-right: 10px; flex-direction: column; justify-content: center; align-items: flex-start;">
                <span class="glyphicon glyphicon-ok" style="color: #0EAD69; margin-right: 8px; font-weight: 700;font-size: 18px;"></span>
              </div>
              <div style="display: flex; flex: 2; flex-direction: column; justify-content: center; align-items: flex-start;">
                <span class="glyphicon glyphicon-remove" style="color: #D7263D; margin-right: 8px; font-weight: 700;font-size: 18px;"></span>
              </div>
            </div>
          </td>
        </tr>
      </tbody>
    </table>
    <div class="panel-footer" style="padding: 17px;">
      <div class="row">
        <div class="col col-xs-4" style="line-height: 34px; height: 34px;">Page 1 of 1
        </div>
        <div class="col col-xs-8">
          <ul class="pagination hidden-xs pull-right" style="margin: 0;">
            <li class="active"><a style="padding: 6px 15px;">1</a></li>
            <li><a style="padding: 6px 15px;">2</a></li>
            <li><a style="padding: 6px 15px;">3</a></li>
            <li><a style="padding: 6px 15px;">4</a></li>
            <li><a style="padding: 6px 15px;">5</a></li>
          </ul>
          <ul class="pagination visible-xs pull-right">
            <li><a style="padding: 6px 15px;">«</a></li>
            <li><a style="padding: 6px 15px;">»</a></li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</mat-card>
