<mat-card class="myCard" style="font-family: 'Roboto'; margin-top: 20px;">
  <div style="display: flex; justify-content: flex-end; margin: 0px; margin-bottom: 35px; align-items: center;">
    <p class="gInfo" style="display: flex; flex: 3; font-size: 20px;">Search Job</p>
    <div style="display: flex; align-items: center; flex: 1; justify-content: flex-end;">
      <input type="text" placeholder="Search.." name="search" class="mySrh" #searchterm style="display:flex; justify-content: center; ">
      <span class="glyphicon glyphicon-search" (click)="search()" style="display: flex;flex: 1;justify-content: flex-start;padding-left: 10px;color: #197CD3;font-weight: 700;font-size: 23px; cursor: pointer;"></span>
    </div>
  </div>
  <div class="tab" id="received">
    <table class="table table-hover">
      <thead>
        <tr style="display: flex;">
          <th class="thHead" style="display: flex; flex: 2;">Job Description</th>
          <th class="thHead" style="display: flex; flex: 1;">Experience</th>
          <th class="thHead" style="display: flex; flex: 1;">Designation</th>
          <th class="thHead" style="display: flex; flex: 1;">Location</th>
          <th class="thHead" style="display: flex; flex: 1;">Posted On</th>
          <th class="thHead" style="display: flex; flex: 1; justify-content: flex-start;">Action</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let myJob of myJobs | paginate: { itemsPerPage: 10, currentPage: p }; let i=index" style="display: flex;">
          <td style="display: flex; flex: 2; align-items: center;">
            <span style="font-size: 12px;">{{ myJob.description }}</span>
          </td>
          <td style="display: flex; flex: 1; align-items: center;">
            <span style="font-size: 12px;">{{ myJob.experienceDuration }} years</span>
          </td>
          <td style="display: flex; flex: 1; align-items: center;">
            <span style="font-size: 12px;">{{ myJob.role }}</span>
          </td>
          <td style="display: flex; flex: 1; align-items: center;">
            <span style="font-size: 12px;">{{ myJob.location }}</span>
          </td>
          <td style="display: flex; flex: 1; align-items: center;">
            <span class="glyphicon glyphicon-time" style="color: #0EAD69; font-weight: 700;font-size: 18px;"></span><span style="font-size: 12px; padding-left: 6px;">{{ dates[i] }}</span>
          </td>
          <td style="display: flex; flex: 1; align-items: center;">
            <div style="display: flex; justify-content: center; align-items: center; width: 100%;">
              <div style="display: flex; flex: 1; padding-right: 0px; flex-direction: column; justify-content: center; align-items: flex-start;">
                <span class="glyphicon glyphicon-search" [id]="myJob.id" (click)="routeOne($event)" style="color: #197CD3; font-weight: 700;font-size: 14px !important;"></span>
              </div>
              <div style="display: flex; flex: 1; flex-direction: column; justify-content: center; align-items: flex-start;">
                <span class="glyphicon glyphicon-ok" [id]="myJob.id" (click)="apply($event)" style="color: #0EAD69; font-weight: 700;font-size: 15px;"></span>
              </div>
            </div>
          </td>
        </tr>
      </tbody>
      <pagination-controls style="display: flex; margin-top: 10px; justify-content: flex-end;" (pageChange)="p =$event" previousLabel="Previous" nextLabel="Next" screenReaderPageLabel="page" screenReaderCurrentLabel="You're on page"></pagination-controls>
    </table>
  </div>
</mat-card>
