<mat-card class="myCard" style="font-family: 'Roboto'; margin-top: 20px;">
  <div style="display: flex; justify-content: flex-end; margin: 0px; margin-bottom: 35px; align-items: center;">
    <p class="gInfo" style="display: flex; flex: 3; font-size: 20px;">Search Job</p>
    <div style="display: flex; align-items: center; flex: 1; justify-content: flex-end;">
      <input type="text" placeholder="Search.." name="search" class="mySrh" style="display:flex; justify-content: center; ">
      <span class="glyphicon glyphicon-search" (click)="shape()" style="display: flex;flex: 1;justify-content: flex-start;padding-left: 10px;color: #197CD3;font-weight: 700;font-size: 23px;"></span>
    </div>
  </div>
  <div class="tab" id="received">
    <table class="table table-hover">
      <thead>
        <tr style="display: flex;">
          <th style="display: flex; flex: 2; align-items: center; font-size: 16px;">Job Description</th>
          <th style="display: flex; flex: 1; align-items: center; font-size: 16px;">Experience</th>
          <th style="display: flex; flex: 1; align-items: center; font-size: 16px;">Designation</th>
          <th style="display: flex; flex: 1; align-items: center; font-size: 16px;">Location</th>
          <th style="display: flex; flex: 1; align-items: center; font-size: 16px;">Posted On</th>
          <th style="display: flex; flex: 1; justify-content: flex-start; align-items: center; font-size: 16px;">Action</th>
        </tr>
      </thead>
      <tbody>
        <tr style="display: flex;">
          <td style="display: flex; flex: 2; align-items: center;">
            <span style="font-size: 14px;">Seeking a Software tester</span>
          </td>
          <td style="display: flex; flex: 1; align-items: center;">
            <span style="font-size: 14px;">3 years</span>
          </td>
          <td style="display: flex; flex: 1; align-items: center;">
            <span style="font-size: 14px;">Software Tester</span>
          </td>
          <td style="display: flex; flex: 1; align-items: center;">
            <span style="font-size: 14px;">London, UK</span>
          </td>
          <td style="display: flex; flex: 1; align-items: center;">
            <span class="glyphicon glyphicon-time" style="color: #0EAD69; font-weight: 700;font-size: 18px;"></span><span style="font-size: 14px; padding-left: 6px;">24/02/18</span>
          </td>
          <td style="display: flex; flex: 1; align-items: center;">
            <div style="display: flex; justify-content: center; align-items: center; width: 100%;">
              <div style="display: flex; flex: 1; flex-direction: column; justify-content: center; align-items: flex-start;">
                <span class="glyphicon glyphicon-ok" style="color: #0EAD69; margin-left: 15px; font-weight: 700;font-size: 18px;"></span><span style="font-size: 14px; padding-top: 3px;">Approve</span>
              </div>
              <div style="display: flex; flex: 1; flex-direction: column; justify-content: center; align-items: flex-start;">
                <span class="glyphicon glyphicon-remove" style="color: #D7263D; margin-left: 23px; font-weight: 700;font-size: 18px;"></span><span style="font-size: 14px; padding-top: 3px;">Disapprove</span>
              </div>
            </div>
          </td>
        </tr>
        <tr style="display: flex;">
          <td style="display: flex; flex: 2; align-items: center;">
            <span style="font-size: 14px;">Seeking a Software tester</span>
          </td>
          <td style="display: flex; flex: 1; align-items: center;">
            <span style="font-size: 14px;">3 years</span>
          </td>
          <td style="display: flex; flex: 1; align-items: center;">
            <span style="font-size: 14px;">Software Tester</span>
          </td>
          <td style="display: flex; flex: 1; align-items: center;">
            <span style="font-size: 14px;">London, UK</span>
          </td>
          <td style="display: flex; flex: 1; align-items: center;">
            <span class="glyphicon glyphicon-time" style="color: #0EAD69; font-weight: 700;font-size: 18px;"></span><span style="font-size: 14px; padding-left: 6px;">24/02/18</span>
          </td>
          <td style="display: flex; flex: 1; align-items: center;">
            <div style="display: flex; justify-content: center; align-items: center; width: 100%;">
              <div style="display: flex; flex: 1; flex-direction: column; justify-content: center; align-items: flex-start;">
                <span class="glyphicon glyphicon-ok" style="color: #0EAD69; margin-left: 15px; font-weight: 700;font-size: 18px;"></span><span style="font-size: 14px; padding-top: 3px;">Approve</span>
              </div>
              <div style="display: flex; flex: 1; flex-direction: column; justify-content: center; align-items: flex-start;">
                <span class="glyphicon glyphicon-remove" style="color: #D7263D; margin-left: 23px; font-weight: 700;font-size: 18px;"></span><span style="font-size: 14px; padding-top: 3px;">Disapprove</span>
              </div>
            </div>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</mat-card>
