<div class="main" style="width: 100%; display: flex; flex-direction: row; margin-bottom: 5%; margin-top: 5px;">
  <div class="left" style="display: flex; flex: 1;">
  </div>
  <div class="mid" style="display: flex; flex: 1;">
    <form name="myForm" novalidate #f="ngForm" (ngSubmit)="onSubmit(f)">
      <div class="imgcontainer">
        <img [src]="userImg" class="userImg" height="90" width="90">
      </div>
      <div class="container" style="width: 100%; padding: 24px; padding-bottom: 16px; padding-top: 10px;">
        <label>
          <p style="font-weight: 600; margin: 10px 0px 8px 0px;">Email Id</p>
        </label>
        <input type="email" [(ngModel)]="user.email" #userEmail="ngModel" name="email" placeholder="Enter Email" required email>
        <div style="display: flex;">
            <div *ngIf="userEmail.errors?.email && userEmail.touched" style="padding: 6px 10px; color: red; margin-left: 5px;">Email is incorrect</div>
            <div *ngIf="userEmail.errors?.required && userEmail.touched" style="padding: 6px 10px; color: red; margin-left: 5px;">Email is Required</div>
        </div>
        <button type="submit" style="margin-top: 10px; background-color: #197CD3;" value="Login">Reset Password</button>
        <div *ngIf="sent" style="padding: 6px 10px; color: red; margin-left: 5px;">A verification link has been sent your email address</div>
      </div>
    </form>
  </div>
  <div class="right" style="display: flex; flex: 1;">
  </div>
</div>
