<mat-card class="myCard" id="myCd" #myCard style="width: 80%; margin-left: 10%; margin-bottom: 2%;">
  <div>
    <div class="basic">
      <p class="gInfo" style="display: flex; align-items: center; flex: 3; font-size: 20px;"><span class="glyphicon glyphicon-education" style="margin-right: 9px; font-size: 25px;color: #197CD3;"></span>Introduction</p>
    </div>
    <div class="tab" id="received" #recd>
      <p class="introd">Welcome to <span style="font-weight: 600;">PROJECT MANAGEMENT!</span></p>
      <p class="introd">New to Project Management? Check out the <span (click)="gotoPlace()" style="color: #197CD3; cursor: pointer;">PROJECT MANAGEMENT User's Guide</span></p>
    </div>
  </div>
</mat-card>
<mat-card class="myCard" id="myCd2" #myCard2 style="width: 80%; margin-left: 10%; margin-bottom: 2%;">
  <div>
    <div class="basic">
      <p class="gInfo" style="display: flex; align-items: center; flex: 3; font-size: 19px;"><span class="glyphicon glyphicon-ok" style="margin-right: 9px; font-size: 20px; color: #0EAD69;"></span>Tasks Assigned To Me</p>
    </div>
    <div class="tab" id="received" #recd>
      <p class="introd" style="font-size: 12px;">No Tasks Found</p>
    </div>
  </div>
</mat-card>
<mat-card class="myCard" id="myCd3" #myCard3 style="width: 80%; margin-left: 10%; margin-bottom: 12%;">
  <div>
    <div class="basic">
      <p class="gInfo" style="display: flex; align-items: center; flex: 3; font-size: 19px;"><span class="glyphicon glyphicon-list-alt" style="margin-right: 9px; font-size: 20px; color: #D84747;"></span>Activity Stream</p>
    </div>
    <div class="tab" id="received" #recd>
      <p class="introd" style="font-size: 12px;">No Activity Found</p>
    </div>
  </div>
</mat-card>