<mat-card class="myCardFst">
  <div style="display: flex; justify-content: flex-end; margin: 0px; margin-bottom: 25px;">
    <p class="gInfo" style="display: flex; flex: 4;">General Information</p>
    <span class="glyphicon glyphicon-pencil" style="display: flex; flex: 1; justify-content: flex-end; padding-right: 4px; color: #197CD3; font-weight: 700; font-size: 19px;"></span>
  </div>
  <div style="display: flex; margin-top: 35px; font-size: 15px;">
    <div style="display: flex; flex: 1; font-weight: 600;">
      Name
    </div>
    <div style="display: flex; flex: 3; justify-content: center;">
      Vatsal Shrivastav
    </div>
  </div>
  <div style="display: flex;margin-top: 18px;font-size: 15px;">
    <div style="display: flex; flex: 1; font-weight: 600;">
      Designation
    </div>
    <div style="display: flex; flex: 3; justify-content: center;">
      Software Intern
    </div>
  </div>
  <div style="display: flex;margin-top: 18px;font-size: 15px;">
    <div style="display: flex; flex: 1; font-weight: 600;">
      Company
    </div>
    <div style="display: flex; flex: 3; justify-content: center;">
      Microsoft (UK) Ltd
    </div>
  </div>
  <div style="display: flex;margin-top: 18px;font-size: 15px;">
    <div style="display: flex; flex: 1; font-weight: 600;">
      Card
    </div>
    <div style="display: flex; flex: 3; justify-content: center;">
      <a mat-raised-button style="background-color: #197CD3; text-decoration: none; border-radius: 1px; padding: 0px 10px; min-width: 32px; line-height: 30px; min-width: 115px; color: #fff; font-size: 14px;" routerLink=""><span class="glyphicon glyphicon-folder-close" style="padding-right: 8px; padding-bottom: 5px;"></span>View Card</a>
    </div>
  </div>
</mat-card>
<mat-card class="myCard" style="margin-bottom: 3%;">
  <div style="display: flex; justify-content: flex-end; margin: 0px; margin-bottom: 25px;">
    <p class="gInfo" style="display: flex; flex: 4;">Career Highlights</p>
    <span class="glyphicon glyphicon-pencil" style="display: flex; flex: 1; justify-content: flex-end; padding-right: 4px; color: #197CD3; font-weight: 700; font-size: 20px;"></span>
  </div>
  <div class="box-content">
    <div id="career-timeline" class="timeline">
      <ul class="timeline-items">
        <li class="timeline-item centered animated fadeInUp">
          <h3 align="center">Experience</h3></li>
      </ul>
      <h2>2015</h2>
      <ul class="timeline-items noshift">
        <li class="timeline-item animated fadeInLeft">
          <h3>Started at MicroSoft (UK) Ltd</h3>
          <hr>
          <p> Designation : Software Intern</p>
          <hr>
          <p>Company Website: <a target="_blank" href="http://www.microsoft.co.uk">http://www.microsoft.co.uk</a></p>
          <hr>
          <p>Achievements: Best Intern</p>
          <hr>
          <p>Skills used: Python, PHP</p>
          <hr>
          <time>Sun Aug 09 2015</time> - current</li>
      </ul>
      <h2>2014</h2>
      <ul class="timeline-items shift">
        <li class="timeline-item animated fadeInLeft">
          <h3>Started at BT</h3>
          <hr>
          <p> Designation : Senior Software tester</p>
          <hr>
          <p>Company Website: <a target="_blank" href="http://www.bt.com">http://www.bt.com</a></p>
          <hr>
          <p>Achievements: Best Senior tester</p>
          <hr>
          <p>Skills used: Scala, C++</p>
          <hr>
          <time>Wed Apr 02 2014</time> - Fri Jul 10 2015</li>
      </ul>
      <ul class="timeline-items">
        <li class="timeline-item centered animated fadeInUp">
          <h3 align="center">Education</h3></li>
      </ul>
      <h2>2015</h2>
      <ul class="timeline-items noshift">
        <li class="timeline-item animated fadeInLeft">
          <h3>Started at MicroSoft (UK) Ltd</h3>
          <hr>
          <p> Designation : Software Intern</p>
          <hr>
          <p>Company Website: <a target="_blank" href="http://www.microsoft.co.uk">http://www.microsoft.co.uk</a></p>
          <hr>
          <p>Achievements: Best Intern</p>
          <hr>
          <p>Skills used: Python, PHP</p>
          <hr>
          <time>Sun Aug 09 2015</time> - current</li>
      </ul>
      <h2>2014</h2>
      <ul class="timeline-items shift">
        <li class="timeline-item animated fadeInLeft">
          <h3>Started at BT</h3>
          <hr>
          <p> Designation : Senior Software tester</p>
          <hr>
          <p>Company Website: <a target="_blank" href="http://www.bt.com">http://www.bt.com</a></p>
          <hr>
          <p>Achievements: Best Senior tester</p>
          <hr>
          <p>Skills used: Scala, C++</p>
          <hr>
          <time>Wed Apr 02 2014</time> - Fri Jul 10 2015</li>
      </ul>
    </div>
  </div>
</mat-card>
<div class="chartMain col-sm-12" style="margin-bottom: 10%;">
  <mat-card class="myCardChart col-sm-4" style="width: 31.5%;">
    <div>
      <div style="display: flex; justify-content: flex-end; margin: 0px; margin-bottom: 25px;">
        <p class="gInfo" style="display: flex; flex: 4; font-size: 19px;">Operating Systems</p>
        <span class="glyphicon glyphicon-pencil" style="display: flex; flex: 1; justify-content: flex-end; padding-right: 4px; color: #197CD3; font-weight: 700; font-size: 18px;"></span>
      </div>
      <canvas id="myCanvas1" width="300px" height="300px" style="width: 300px; height: 300px;"></canvas>
    </div>
  </mat-card>
  <mat-card class="myCardChart col-sm-4" style="width: 31.5%;">
    <div>
      <div style="display: flex; justify-content: flex-end; margin: 0px; margin-bottom: 25px;">
        <p class="gInfo" style="display: flex; flex: 4; font-size: 19px;">Programming Languages</p>
        <span class="glyphicon glyphicon-pencil" style="display: flex; flex: 1; justify-content: flex-end; padding-right: 4px; color: #197CD3; font-weight: 700; font-size: 18px;"></span>
      </div>
      <canvas id="myCanvas2" width="300px" height="300px" style="width: 300px; height: 300px;"></canvas>
    </div>
  </mat-card>
  <mat-card class="myCardChart col-sm-4" style="width: 31.5%;">
    <div>
      <div style="display: flex; justify-content: flex-end; margin: 0px; margin-bottom: 25px;">
        <p class="gInfo" style="display: flex; flex: 4; font-size: 19px;">Languages Known</p>
        <span class="glyphicon glyphicon-pencil" style="display: flex; flex: 1; justify-content: flex-end; padding-right: 4px; color: #197CD3; font-weight: 700; font-size: 18px;"></span>
      </div>
      <canvas id="myCanvas3" width="300px" height="300px" style="width: 300px; height: 300px;"></canvas>
    </div>
  </mat-card>
  <mat-card class="myCardChart col-sm-4" style="width: 31.5%;">
    <div>
      <div style="display: flex; justify-content: flex-end; margin: 0px; margin-bottom: 25px;">
        <p class="gInfo" style="display: flex; flex: 4; font-size: 19px;">IDE</p>
        <span class="glyphicon glyphicon-pencil" style="display: flex; flex: 1; justify-content: flex-end; padding-right: 4px; color: #197CD3; font-weight: 700; font-size: 18px;"></span>
      </div>
      <canvas id="myCanvas4" width="300px" height="300px" style="width: 300px; height: 300px;"></canvas>
    </div>
  </mat-card>
  <mat-card class="myCardChart col-sm-4" style="width: 31.5%;">
    <div>
      <div style="display: flex; justify-content: flex-end; margin: 0px; margin-bottom: 25px;">
        <p class="gInfo" style="display: flex; flex: 4; font-size: 19px;">Hobbies</p>
        <span class="glyphicon glyphicon-pencil" style="display: flex; flex: 1; justify-content: flex-end; padding-right: 4px; color: #197CD3; font-weight: 700; font-size: 18px;"></span>
      </div>
      <canvas id="myCanvas5" width="300px" height="300px" style="width: 300px; height: 300px;"></canvas>
    </div>
  </mat-card>
  <mat-card class="myCardChart col-sm-4" style="width: 31.5%;">
    <div>
      <div style="display: flex; justify-content: flex-end; margin: 0px; margin-bottom: 25px;">
        <p class="gInfo" style="display: flex; flex: 4; font-size: 19px;">Version Control</p>
        <span class="glyphicon glyphicon-pencil" style="display: flex; flex: 1; justify-content: flex-end; padding-right: 4px; color: #197CD3; font-weight: 700; font-size: 18px;"></span>
      </div>
      <canvas id="myCanvas6" width="300px" height="300px" style="width: 300px; height: 300px;"></canvas>
    </div>
  </mat-card>
</div>
