<mat-card class="myCard" style="font-family: 'Roboto'; margin-top: 20px;">
  <div style="display: flex; justify-content: flex-end; margin: 0px; margin-bottom: 35px; align-items: center;">
    <p class="gInfo" style="display: flex; flex: 3; font-size: 20px;">Card Privacy</p>
    <div style="display: flex; align-items: center; flex: 1; justify-content: flex-end;">
      <select (change)="onChange($event.target.value)" style="display: flex; height: 35px;background: #fcfcfc;color: #474747;padding: 5px 3px;border: 1px solid #ccc;box-shadow: 0 0px 0px 0 rgba(0, 0, 0, 0.14), 0 1px 0px 0 rgba(0, 0, 0, 0.12), 0 2px 1px -2px rgba(0, 0, 0, 0.2); width: 100%;">
        <option value="homeAddressPrivacy">Home Address</option>
        <option value="privatePhonePrivacy">Private Phone</option>
        <option value="privateEmailPrivacy">Private Email</option>
        <option value="officeAddressPrivacy">Office Address</option>
        <option value="officePhonePrivacy">Office Phone</option>
        <option value="officeEmailPrivacy">Office Email</option>
        <option value="socialAddressPrivacy">Social Address</option>
      </select>
    </div>
  </div>
  <div class="tab">
    <table class="table table-hover">
      <thead>
        <tr style="display: flex;">
          <th class="fl1">Field</th>
          <th class="fl1">Authority</th>
          <th class="fl1">Date</th>
          <th class="fl1">Status</th>
          <th class="fl1">Action</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let myFriend of myFriends | paginate: { itemsPerPage: 10, currentPage: p }" style="display: flex;">
          <td style="display: flex; flex: 1; align-items: center;">
            <span class="dt">{{ myFriend.fieldsRequested }}</span>
          </td>
          <td style="display: flex; flex: 1; align-items: center;">
            <span class="dt">{{ myFriend.requestingAuthority }}</span>
          </td>
          <td style="display: flex; flex: 1; align-items: center;">
            <span class="dt">{{ myFriend.creationTime.month }} {{ myFriend.creationTime.dayOfMonth }}, {{ myFriend.creationTime.year }}</span>
          </td>
          <td style="display: flex; flex: 1; align-items: center;">
            <span class="dt" style="font-size: 14px; color: #0EAD69;" *ngIf="!myFriend.requestRejected">Approved</span>
            <span class="dt" style="font-size: 14px; color: #D7263D;" *ngIf="myFriend.requestRejected">Rejected</span>
          </td>
          <td style="display: flex; flex: 1; align-items: center;">
            <span *ngIf="myFriend.requestRejected" [id]="myFriend.id" (click)="confirm(myFriend.id)" class="glyphicon glyphicon-ok smIcon" style="color: #0EAD69; margin-right: 8px; font-weight: 700;font-size: 18px;"></span>
            <span *ngIf="!myFriend.requestRejected" [id]="myFriend.id" (click)="delete(myFriend.id)" class="glyphicon glyphicon-remove smIcon" style="color: #D7263D; margin-right: 8px; font-weight: 700;font-size: 18px;"></span>
          </td>
        </tr>
      </tbody>
    </table>
    <pagination-controls style="display: flex; margin-top: 10px; justify-content: flex-end;" (pageChange)="p =$event" previousLabel="Previous" nextLabel="Next" screenReaderPageLabel="page" screenReaderCurrentLabel="You're on page"></pagination-controls>
  </div>
</mat-card>
